<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
  <head>
    {{ HEAD }}
  </head>
  <body {{ BODY_ATTRS }}>
    {{ APP }}
  <script type="text/javascript" src="/_nuxt/manifest.f564d24f0102fb0ebb90.js"></script><script type="text/javascript" src="/_nuxt/vendor.70363f8a5b874ce6329c.js"></script><script type="text/javascript" src="/_nuxt/app.a5cfe92ae6cea4c484de.js"></script></body>
</html>
